:root {
  font-size: calc(1vmin + 1em);
  --threshold: 50rem;
  --space: 0rem;
}


html {
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: 'AnaktoriaRegular';
}

body {
  background: rgb(10,10,10);
  color: rgb(241, 179, 8);
  margin: 0;
  font-family: 'Ubuntu Mono', monospace;
}

nav {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
}

nav > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
}

nav > .halfright {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  font-family: 'AnaktoriaRegular';
  font-size: 1rem;
  text-align: center;
  background-color: #0a0a0a;
  border-left: 1px solid rgb(241, 179, 8);
}

.halfright > * {
  border-right: 1px solid rgb(241, 179, 8);
  border-bottom: 1px solid rgb(241, 179, 8);
  flex: 1;
  padding: 0.5rem;
}

#emergence {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: -2;
  border-bottom: 1px solid rgb(241, 179, 8);
}
.container > * {
  display: flex;
  flex-wrap: wrap-reverse;  
}

.container > * > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
}

.left {
  border: 1px solid rgb(241,179,8);
  font-size: 1rem;
  border-width: 0px 1px 0px 0px;
}

.left > * > div, p {
  padding: 0 1rem;
}

.left > * > h1, h2, h3 {
  padding: 0 2rem;
}

header {
  color: rgb(241, 179, 8);
  font-size: calc(1rem + 0.5vw);
  padding: 5px;
  margin-top: -2rem;
  text-align: center;
  font-family: 'AnaktoriaRegular';
  border-bottom: 1px solid rgb(241, 179, 8);
}

main {
  margin: auto;  
}

main > img {
  max-width: 100%;
  object-fit: contain;
  border-bottom: 1px solid rgb(241, 179, 8);
}

footer {
  color: rgb(241, 179, 8);
  padding: 10px;
  text-align: center;
  font-family: 'AnaktoriaRegular';
}

.video-wrapper {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.video-wrapper iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

#canvaso {
  text-decoration: none;
}

#canvaso::after{
  content: none;
}

a {
  text-decoration: none;
  font-style: italic;
}

a::after{
  content: "→";
  color: rgb(8, 90, 241);
}

nav a::after{
  content: "";
}

a:link {
  color: rgb(241, 179, 8);  
}

a:visited {
  color: rgb(241, 179, 8);
}
a:hover {
  color: rgb(8, 90, 241);
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
} 

.stack > * + * {
  margin-top: var(--space);
  border-bottom: 1px solid rgb(241, 179, 8);
}

.right {
  flex: 1;
}
